<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcbjs.highconcurrency.antitheftbrush.limiter.captcha.RateLimitRuleMapper">
  <resultMap id="BaseResultMap" type="com.gcbjs.highconcurrency.antitheftbrush.limiter.captcha.model.RateLimitRule">
    <!--@mbg.generated-->
    <!--@Table rate_limit_rule-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="limit" jdbcType="INTEGER" property="limit" />
    <result column="period" jdbcType="BIGINT" property="period" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `key`, `limit`, period, create_date
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gcbjs.highconcurrency.antitheftbrush.limiter.captcha.model.RateLimitRule" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rate_limit_rule (`key`, `limit`, period, 
      create_date)
    values (#{key,jdbcType=VARCHAR}, #{limit,jdbcType=INTEGER}, #{period,jdbcType=BIGINT},
      #{createDate,jdbcType=TIMESTAMP})
  </insert>

  <select id="selectByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
      <include refid="Base_Column_List" />
    from rate_limit_rule
    where `key` = #{key,jdbcType=VARCHAR}
  </select>

</mapper>