<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcbjs.demo.mappers.TicketInfoMapper">
    <resultMap id="BaseResultMap" type="com.gcbjs.demo.mappers.model.TicketInfo">
        <id property="ticketId" column="ticket_id" jdbcType="BIGINT"/>
        <result property="ticketStatus" column="ticket_status" jdbcType="VARCHAR"/>
        <result property="dispatchTime" column="dispatch_time" jdbcType="TIMESTAMP"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="receiverId" column="receiver_id" jdbcType="BIGINT"/>
        <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
        <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
        <result property="loanAmount" column="loan_amount" jdbcType="BIGINT"/>
        <result property="userLevel" column="user_level" jdbcType="VARCHAR"/>
        <result property="dealerType" column="dealer_type" jdbcType="VARCHAR"/>
        <result property="urgentLevel" column="urgent_level" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ticket_id, ticket_status, dispatch_time, priority, create_time, update_time, receiver_id, receiver_name,
        finish_time, loan_amount, user_level, dealer_type, urgent_level
    </sql>

    <insert id="insert" keyColumn="ticket_id" keyProperty="ticketId"
            parameterType="com.gcbjs.demo.mappers.model.TicketInfo" useGeneratedKeys="true">
        insert into ticket_info(
            ticket_status,priority,loan_amount, user_level, dealer_type, urgent_level
        ) values(
            #{ticketStatus,jdbcType=VARCHAR},
            #{priority,jdbcType=INTEGER},
            #{loanAmount,jdbcType=BIGINT},
            #{userLevel,jdbcType=VARCHAR},
            #{dealerType,jdbcType=VARCHAR},
            #{urgentLevel,jdbcType=VARCHAR}
        )
    </insert>


    <update id="update" parameterType="com.gcbjs.demo.mappers.model.TicketInfo">
        update ticket_info
        <set>
            <if test="ticketStatus != null">
                ticket_status = #{ticketStatus,jdbcType=VARCHAR},
            </if>
            <if test="dispatchTime != null">
                dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=INTEGER},
            </if>
            <if test="receiverId != null">
                receiver_id = #{receiverId,jdbcType=BIGINT},
            </if>
            <if test="receiverName != null">
                receiver_name = #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            ticket_id = #{ticketId,jdbcType=BIGINT}
        </where>
    </update>

    <select id="findByTicketId" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from ticket_info
        where ticket_id = #{ticketId,jdbcType=BIGINT}
    </select>

    <select id="findWaitingTickets" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ticket_info
        where ticket_status = 'WAITING'
    </select>

    <select id="findByParam" parameterType="com.gcbjs.demo.json.param.QueryTicketParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ticket_info
        where 1 = 1
        <if test="queryTicketParam.ticketStatus != null and queryTicketParam.ticketStatus !=''">
            and ticket_status = #{queryTicketParam.ticketStatus,jdbcType=VARCHAR}
        </if>
        order by update_time desc

    </select>

    <select id="findAllGroupByStatus" resultType="java.lang.String" >
        select
            ticket_status
        from ticket_info
    </select>

</mapper>