<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcbjs.demo.mappers.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.gcbjs.demo.mappers.model.UserInfo">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="workStatus" column="work_status" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, name, mobile, work_status,update_time,create_time
    </sql>

    <select id="findByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info where user_id = #{userId}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
    </select>

    <select id="fetchListByUserIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where user_id in <foreach collection="userIds" item="userId" open="(" close=")" separator=",">#{userId}</foreach>
    </select>

    <update id="updateStatus" parameterType="com.gcbjs.demo.mappers.model.UserInfo">
        update user_info
        <set>
            <if test="workStatus != null">
                work_status = #{workStatus,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            user_id = #{userId,jdbcType=BIGINT}
        </where>
    </update>

</mapper>